
/*COLOR BODY*/
$color-bg:#2b2a29;
$color-body-primary: #FED304;

/*COLOR BODY*/

/* COLOR WHITE*/
$color-white: #fff;
$color-red: #dd062a;
$color-green: #7dce85;
/* COLOR WHITE*/

/*START COLOR TEXT*/
$color-primary: #fefefe;
$color-text-primary: #FED304;
$color-text-secondary: #b1b1b1;
/*END COLOR TEXT*/

/*START BG COLORS*/
$color-bg-primary: #e7e7e7;
$color-bg-secondary: #ebebeb;
$color-bg-three: #9d439a;
$color-bg-star: #201e2063;
$color-bg-four: #70707020;
$color-bg-five: #505050;
$color-bg-six: #c1c1c1;
$color-bg-menu-admin: #00000013;

/*END BG COLORS*/

/*START BORDER COLOR*/
$color-border-priary: #7070701d;
$color-border-secondary: #b1b1b1;
$color-border-three: #ebebeb;
/*END BORDER COLOR*/
