@import "./component";
.content-input{
    display: flex;
    flex-wrap: wrap;
    .item-add-new-food{
    
        display: flex;
        flex-wrap: wrap;

        .title-input{
            color: #fff;
        }
        input{
            width: 100%;
            outline: none;
            background-color: #70707036 !important;
            padding: 10px;
            border-radius: 10px;
            color: #fff;
            border: 1px solid #707070;
            &:focus{
                border: 1px solid #cba419;
            }
            &:active{
                background-color: #707070
            }
        }

    
    
}

}
.title-resturant-menu{
    color:#fff;
    text-align: center;
    padding: 10px;
    margin-top: 10px;
    font-weight: bold;
}
.resturant-menu{
    padding: 10px;
    display: flex;
    justify-content: center;
    
  
}

@import "./medias";
