@import "./base";
@import "./colors";
@import "./variables";
@import "./mixns";
@import "./component";

.main-admin {
    .content-main-admin {

        .Average{
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            padding: 10px;
            .Average-item{
              display: flex;
              border: 1px solid rgb(62, 60, 60);
              
              .title{
                color: #FED304;
                padding: 5px;
              }
              .moment{
                text-align: center;
                background-color: #707070;
                color: #fff;
                padding: 5px;
              
              }
        
            }
          }
        
        .contentt{
            .title-food{
                color: #fff;
                border: 1px solid rgb(103, 103, 103);
                margin-bottom: 10px;
                font-size:16px;
                padding: 10px;
            }
            .item-mavadghazaei{
                display: flex;
                justify-content: space-between;
                align-items: center;
                .remove{
                    text-align: center;
                    span{
                        color: #fff;
                       cursor: pointer;
                    }
                }
                input{
                    width: 100%;
                    background-color: #3c3b363c;
                    color: #fff;
                    border: 1px solid #5a5956;
                    outline: none;
                    padding: 5px;
                   
                }

                // .border-c{
                //     border: 1px solid rgb(103, 103, 103);
                // }
                .name-mavad{
                    color:#D2AF0C;
                    
                }
                .meghdar-mavad{
                    color: #fff;
                }
            }
            padding: 10px;
           
            .add-mavad-ghazaei{
                background-color: #5a5956;
                color: #fff;
                text-align: center;
                font-size:30px;
                cursor: pointer;
            }
            .row-table{
                display: flex;
                .first-table{
                 background-color: rgb(157, 159, 160);

                    
                }

            }
            
        }
       
        .marahele-amadesazi{
            .description{
                border: 1px solid rgb(103, 103, 103);
                textarea{
                    margin: 10px 0;
                    width: 100%;
                    border-color: #b1b1b1;
                    padding: 5px;
                    font-weight: 300;
                    color: #b1b1b1;
                    font-size: 14px;
                    border-radius: 5px;
                    -webkit-border-radius: 5px;
                    background-color:#b1b1b153;
                    height:300px;
                    &:focus{
                      outline: none;
                    }
                }
            }
            padding: 10px;
            .title{
                padding: 10px;
            }
            .description{
                padding: 10px;
                text-align: justify;
            }
        }
           
            
               
               
        }
        .nokteh{
            color: #fff;
            padding: 10px;
        }
        .upload-image{
            display: flex;
            justify-content: end;
            align-items: flex-end;
            .inner-upload{
               
                .discription{
                    color: #fff;
                    margin-top: 10px;
                }
            }
           
        }
    }


@import "./medias";
