@import "./base";
@import "./colors";
@import "./variables";
@import "./mixns";
@import "./component";

.main-admin {
    .modal-add-cost{
        .inner-modal{
            .item-cost-month{
                padding: 10px 0;
                .title-input{
                    color: #fff;
                }
                input{
                    padding: 10px;
                    color: #fff;
                    border: 1px solid rgb(106, 105, 105);
                    outline: none;
                    border-radius:10px;
                    width: 100%;
                    &:focus{
                        border: 1px solid #FED304;

                    }
                }
            }
            .btn-sabt{
                color: #FED304;
                text-align: center;
                cursor: pointer;
                font-size: 16px;
                padding: 10px;
            }
        }
    }
    .content-main-admin {
        
        .contentt {
            .add-cost-month{
                display: flex;
               justify-content: start;
                 align-items: flex-start;
                padding:10px 20px;
                cursor: pointer;

                .inner-cost-month{
                padding-right:10px;
                }
                .add{
                    color: #fff;
                    padding-right: 10px;
                    font-size: 16px;
                        
                }
            }
            .content-hazineh{
                padding: 25px;
                .month{
                    display: flex;
                    justify-content: flex-end;
                    text-align: center;
                    align-items: center;
                    color: $color-primary;
                    font-size:14px;
                    font-weight:400;
                }
            }
       
            .title-row{
                @include flex-between;
                padding: 10px 0 ;
                div{
                    text-align: center;
                    font-weight: 700;
                    color: $color-text-primary;
                }
            }
            
            .item-hazineh{
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 10px 0;
                margin: 5px 0;
                .des{
                    textarea{
                        background-color:$color-bg-five;
                        border-radius: 10px;
                        padding: 8px;
                        border: 1px solid $color-bg-six;
                        color: $color-primary;
                        width: 100%;
                        &:focus {
                            outline: none;
                            &::placeholder {
                              font-weight:300;
                            } 
                         }
                      }
                }
                .name{
                    font-weight: 700;
                }
                .phone{
                    font-weight: 900;
                    font-size: 14px;
                }
                input{
                    background-color:$color-bg-five;
                    border-radius: 10px;
                    padding:10px;
                    border: 1px solid $color-bg-six;
                    color: $color-primary;
                    &:focus {
                        outline: none;
                        &::placeholder {
                          font-weight:300;
                        }
                      }
                }
            }
        }
    }
}

@import "./medias";
