@import "./base";
@import "./colors";
@import "./variables";
@import "./mixns";
@import "./component";

.main-admin {
  // ----------style-modal-edit-information-------------------//
 .modal-edit-information-user{
  .inner-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    padding: 0px 20px;
  
    .content {
      width:500px;
      background-color: rgba(74, 72, 72, 0.807);
      position: relative;
      height: 310px;
      .up-modal{
        width: 100%;
        background-color: rgba(7, 12, 12, 0.477);
        border-radius:10px;
        margin-bottom: 10px;
        display: flex;
        .img-up-modal{
          display: flex;
          justify-content: center;
         
        }
        .Specifications{
          display: flex;
          justify-content:space-between;
          flex-direction: column;
          height: 100%;
          padding: 10px 5px;
          position: relative;
          .name{
            color: white;
          }
          .city{
            color: white;
          }
          }
        }
      }
      form{
        width:100%;
        background-color: rgba(7, 12, 12, 0.477);
        height: 200px;
        border-radius: 10px;
        .form-group {
          display: flex;
          align-items: center;
           margin: 10px 0;
           position: relative;
           padding: 0 10px;
           border-radius: 5px;
           position: relative;
           .btn-edit{
             padding: 0px 20px;
             color: rgb(255, 255, 255);
             cursor: pointer;
           }
           label {
             cursor: pointer;
             margin-right: 3px;
             color: aliceblue;
             width: 50%;
           }
           &.error {
             &::after {
               background-color: $color-red;
             }
             small {
               color: $color-red;
             }
           }
           &.success {
             &::after {
               background-color: $color-green;
             }
             small {
               color: $color-green;
             }
           }
           input {
             margin: 10px 0;
             font-weight: 300;
             color: $color-text-secondary;
             margin-right: auto;
             text-align: left;
             width:30%;
             cursor: pointer;
             &::placeholder {
               font-size: 12px;
               font-weight: 300;
               color: white;
             }
     
             &:focus {
               outline: none;
               &::placeholder {
                 font-weight: 900;
               }
              }
             }
             &::before{
              content: "";
              content: "";
              display: block;
              width: 70%;
              height: 1px;
              background-color: #b1b1b1;
              position: absolute;
              top: 100%;
              left: 10%;
            }
            }
          
      }
  }
 }
 // ----------style-modal-edit-information-------------------//
.modal-Consultation-requests{
  .inner-modal{
    padding: 10px;
    form{
      width: 400px;
      .up-modal-request{
        display: flex;
        justify-content: space-between;
        color: #fff;
      }
      .down-modal-request{
        .title-Consultation-requests{
         color: #FED304;
         font-size: 14px;
         padding: 10px;
          
        }
        .phone-number{
          color: #fff;
          padding: 10px;
        }
        .description-Consultation{
          height: 180px;
          overflow-y: scroll;
          padding: 0 10px;
          text-align: justify;
          overflow-x: hidden;
          font-size: 13px;
        &::-webkit-scrollbar {
          height: 5px;
          width: 2px;
          background-color: transparent;
        }

        /* Track */
        &::-webkit-scrollbar-track {
          background-color: transparent;
        }

        /* Handle */
        &::-webkit-scrollbar-thumb {
          background:#FED304;
          width: 10px;
          height: 10px;
        }

        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
          background: $color-primary;
        }
        }
      }
      .btn-modal{
        display: flex;
        justify-content: center;
        align-items: center;
        color: #FED304;
        padding: 5px;
        cursor: pointer;
      }
    }
  }
}
 
  .categoryphome-admin{
    display: flex;
    .categoryphome-admin-item{
      padding: 10px;
      display: flex;
      justify-content:space-between;
      flex-direction: column;
      align-items: center;
      color: #FED304;
      box-shadow: 0px 1px 8px 0px #FED304;
      background-color: #4e4d4f00;
    }
  }
  .pakege-btn{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    // height: 60px;
    padding: 20px 20px;
    z-index: 100;
    background-color: rgba(48, 47, 47, 0.9215686275);
    box-shadow: 0px 1px 8px 0px #757078;
    display: flex;
    justify-content: space-between;

    span{
      color: #fff;
    }
   

  }
  .btn-ticket {
    cursor: pointer;
    background-color: #FED304;
    color: #fff;
    text-align: center;
  }
  .header-m-oprator {
    margin: 0 20px;
    background-color: transparent;
    padding: 20px 0 0 0;
    position: relative;
    .title {
      span {
        font-size: 10px;
        color: $color-text-secondary;
      }
    }
    .back {
      position: absolute;
      top: 10px;
      left: 10px;
    }
  }
  .content-main-admin {
    .content-home {
      padding: 10px 0;
      margin: 0px 20px 20px 20px;
      @include flex-between;
      flex-wrap: wrap;
    }
    .swiper {
      &::after {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 30px;
        height: 100%;
        z-index: 2;
        // background-image: url("../images/test.png");
        
      }
      &::before {
        content: "";
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        width: 30px;
        height: 100%;
        z-index: 2;
       
      }

      .swiper-button-prev,
      .swiper-button-next {
        color: $color-text-primary;
        font-weight: bold;
        transform: scale(0.6);
        -webkit-transform: scale(0.6);
        -moz-transform: scale(0.6);
        -ms-transform: scale(0.6);
        -o-transform: scale(0.6);
      }
      .swiper-button-prev {
        right: -5px;
      }

      .swiper-button-next {
        left: -5px;
      }

      &.swiper-gh {
        .swiper-slide {
          @include centering;
        }
      }
    }
    .content-list {
      @include flex-between;
      justify-content: start;
      padding: 5px 0;
      overflow-y: hidden;
      overflow-x: scroll;
      width: 100%;
      &::-webkit-scrollbar {
        height: 10px;
        background-color: transparent;
      }

      /* Track */
      &::-webkit-scrollbar-track {
        background-color: transparent;
        border: 1px solid rgba($color-primary, 0.5);
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
      }

      /* Handle */
      &::-webkit-scrollbar-thumb {
        background: $color-bg-secondary;
        width: 10px;
        height: 10px;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        border: 1px solid $color-primary;
      }

      /* Handle on hover */
      &::-webkit-scrollbar-thumb:hover {
        background: $color-primary;
      }
    }
    .list-content {
      margin: 20px 0;
      .title-list{
          color: #ffffff;
      }
      .link-list{
        color: #FED304;
      }
    }
    .list-sefareshat-gh {
      .item-list-gh {
        &:nth-child(1) {
          margin-right: 0;
        }
      }
      .item-buy-product {
        width: 100%;
      }
    }
  }
}

@keyframes content-admin {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@import "./medias";
