@import "./component";


.video-instuction-category{
    padding: 10px 25px;
    display: flex;

    flex-wrap: wrap;
    .video-instuction-item {
        &:nth-child(odd) {
          padding: 0 0 0 5px;
        }
        &:nth-child(even) {
          padding: 0 5px 0 0;
        }
        .inner-video-instuction {
          border: 1px solid rgba($color-text-secondary, 0.3);
          background-color: rgba(255, 251, 251, 0);
          border-radius: 10px;
          -webkit-border-radius: 10px;
          -moz-border-radius: 10px;
          -ms-border-radius: 10px;
          -o-border-radius: 10px;
          overflow: hidden;
          // height: 300px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          .top {
            .title {
              font-weight: 300;
              color: $color-primary;
              padding: 10px;
            }
          }
   }
}
}
.articles-slider{
    .titlee{
     padding: 10px;
     background-color: rgba(14, 14, 14, 0.721);
     color: wheat;
     margin-bottom: 10px;
    }
    padding: 30px;
     .swiper-button-prev,
      .swiper-button-next {
        color: $color-text-primary;
        font-weight: bold;
        transform: scale(0.6);
        -webkit-transform: scale(0.6);
        -moz-transform: scale(0.6);
        -ms-transform: scale(0.6);
        -o-transform: scale(0.6);
      }
      .swiper-button-prev {
        right: -5px;
      }

      .swiper-button-next {
        left: -5px;
      }
}









@import "./medias";
