@import "./component";
.modal-add-edit-pakage,.modal-edit-pakage{
    .inner-modal{
        .item-cost-month{
            padding: 10px 0;
            .title-input{
                color: #fff;
                padding:5px;
            }
            input{
                padding:5px;
                color: #fff;
                border: 1px solid rgb(106, 105, 105);
                outline: none;
                border-radius:10px;
                width: 100%;
                font-size: 13px;
                &:focus{
                    border: 1px solid #FED304;

                }
            }
        }
        .btn-sabt{
            color: #FED304;
            text-align: center;
            cursor: pointer;
            font-size: 16px;
            padding: 10px;
        }
    }
}
.food-category{
    .content-pakage{
        .title-des{
            color: #fff;
            padding: 10px;
        }
        .description-pakage{
            width: 100%;
            background-color:rgba(63, 61, 61, 0.662);
            border: 1px solid rgb(154, 154, 154);
            padding: 10px;
            border-radius: 10px;
            color: #fff;
            text-align: justify;
            font-size: 13px;
        }
      padding: 10PX;
      border-radius: 10PX;
      background-color: rgba(78, 78, 78, 0.07);
      border: 1px solid rgb(154, 154, 154);
     .left{
        display: flex;
        justify-content: space-between;
        .trash{
            margin-left: 5px;
        }
        
       }
       .name-pakage{
        display: flex;
        justify-content: space-between;
        span{
            color: rgb(165, 161, 161);
        }
       }
    
    .price{
        display: flex;
        justify-content: end;
        align-items: flex-end;
        p{
            color:#FED304;
        }
        del{
            color:#fff;
        }
    }
    .des{
        color: #fff;
    }

    }
    
}
.btnnahayi{
    color: #FED304;
    display: flex;
    justify-content: center;
    align-items: center;
}

@import "./medias";
