@import "./base";
@import "./colors";
@import "./variables";
@import "./mixns";
@import "./component";

.main-admin {
    .content-main-admin {
       
    }
    .inner-modal {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 1200px;
        height: 100%;
        margin: 0 auto;
        padding: 0px 20px;
      
        .content {
          width:500px;
          background-color: rgba(0, 0, 0, 0);
          position: relative;
          height: 310px;
          .up-modal{
            width: 100%;
            background-color: rgba(7, 12, 12, 0.477);
            border-radius:10px;
            margin-bottom: 10px;
            display: flex;
            .img-up-modal{
              display: flex;
              justify-content: center;
             
            }
            .Specifications{
              display: flex;
              justify-content:space-between;
              flex-direction: column;
              height: 100%;
              padding: 10px 5px;
              position: relative;
              .name{
                color: white;
              }
              .city{
                color: white;
              }
              }
            }
          }
          form{
            width:100%;
            background-color: rgba(7, 12, 12, 0.477);
            height: 200px;
            border-radius: 10px;
            .form-group {
              display: flex;
              align-items: center;
               margin: 10px 0;
               position: relative;
               padding: 0 10px;
               border-radius: 5px;
               position: relative;
               .btn-edit{
                 padding: 0px 20px;
                 color: rgb(255, 255, 255);
                 cursor: pointer;
               }
               label {
                 cursor: pointer;
                 margin-right: 3px;
                 color: aliceblue;
                 width: 50%;
               }
               &.error {
                 &::after {
                   background-color: $color-red;
                 }
                 small {
                   color: $color-red;
                 }
               }
               &.success {
                 &::after {
                   background-color: $color-green;
                 }
                 small {
                   color: $color-green;
                 }
               }
               input {
                 margin: 10px 0;
                 font-weight: 300;
                 color: $color-text-secondary;
                 margin-right: auto;
                 text-align: left;
                 width:30%;
                 cursor: pointer;
                 &::placeholder {
                   font-size: 12px;
                   font-weight: 300;
                   color: white;
                 }
         
                 &:focus {
                   outline: none;
                   &::placeholder {
                     font-weight: 900;
                   }
                  }
                 }
                 &::before{
                  content: "";
                  content: "";
                  display: block;
                  width: 70%;
                  height: 1px;
                  background-color: #b1b1b1;
                  position: absolute;
                  top: 100%;
                  left: 10%;
                }
                }
              
          }
      }
         }

@import "./medias";
