@import "./base";
@import "./colors";
@import "./variables";
@import "./mixns";
@import "./component";

.main-admin {
    .content-main-admin {
        .contentt {
            .content-hazineh{
                padding: 25px;
                .month{
                    display: flex;
                    justify-content: center;
                    text-align: center;
                    align-items: center;
                    color: $color-primary;
                    font-size:14px;
                    font-weight:400;
                }
            }
       
            .title-row{
                @include flex-between;
                padding: 10px 0 ;
                div{
                    text-align: center;
                    font-weight: 700;
                    color: $color-primary;
                }
            }
            
            .item-hazineh{
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 10px 0;
                margin: 5px 0;
                }
                .name{
                    font-weight: 700;
                }
                .phone{
                    font-weight: 900;
                    font-size: 14px;
                }
                .ii{
                    background-color:$color-bg-five;
                    border-radius: 10px;
                    padding: 10px;
                    border: 1px solid $color-bg-six;
                    color: $color-primary;
                    &:focus {
                        outline: none;
                        border: 1px solid $color-text-primary;
                        &::placeholder {
                          font-weight:300;
                        }
                      }
                }
              

              
            }
        }
        .btnnahayi{
            background-color: #E1BA0A;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            cursor: pointer;
        }
    }


@import "./medias";
