@import "./base";
@import "./colors";
@import "./variables";
@import "./mixns";
@import "./component";

.main-admin {
    .header-m-oprator {
        margin: 0 20px;
        background-color: transparent;
        padding: 20px 0 0 0;
        position: relative;
        .title {
            span {
                font-size: 10px;
                color: $color-text-secondary;
            }
        }
        .back {
            position: absolute;
            top: 10px;
            left: 10px;
        }
    }
    .content-main-admin {
        .content {
            margin: 20px 20px;
            @include flex-between;
            flex-wrap: wrap;
            .item-content {
                @include flex-between;
                padding: 15px 0;
                position: relative;
                color: $color-text-secondary;
                font-weight: 300;
                margin: 10px 0;
                cursor: pointer;
                .delete{
                    color: $color-red;
                    font-weight: 700;
                }
                &::after{
                    content: "";
                    display: block;
                    width: 100%;
                    height: 1.5px;
                    position: absolute;
                    top: 100%;
                    left: 0;
                    background-color: $color-text-secondary;
                }
                img{
                    width: 8px;
                }
            }
        }
        .cost-last-month{
            padding:20px;
            .cost-last-month-item{
                margin-bottom: 10px;
                @include flex-between;
                align-items: center;
            .title{
                color: $color-text-secondary;
                font-size: 14px;
                padding-left: 10px;
                width:20%;
                text-align: center;
            }
            input{
                width: 100%;
                background-color: $color-bg-five;
                border-radius: 10px;
                padding:10px 2px;
                border: 1px solid $color-bg-six;
                color: $color-text-secondary ;
                &:focus {
                    outline: none;
                    &::placeholder {
                      font-weight: 900;
                    }
                  }
            }
          }
        }
      
    }
}



@import "./medias";


