@import "./base";
@import "./colors";
@import "./variables";
@import "./mixns";
@import "./component";

.main-admin {


  .btns {
    @include flex-between;
    background-color:  rgba(95, 90, 90, 0.145);
    .btn-change {
      color: $color-text-primary;
      font-size: 14px;
      font-weight: 300;
      padding: 20px 0;

      cursor: pointer;
      &.active {
        border-bottom: 4px solid $color-primary;
        color: $color-primary;
        font-size: 14px;
        font-weight: 700;
      }
    }
  }

  .content-main-admin {
    margin: 0 20px 20px 20px;
    .items-content {
      display: none;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      margin: 10px 0 ;
      &.active {
        display: flex;
      }
    }
    .item-all-ticket{
        margin: 5px 0 ;
        &:nth-child(odd){
            padding: 0 0 0 5px;
        }
        &:nth-child(even){
            padding: 0 5px 0 0;
        }
    }
    .des-2{
      &.error{
        font-weight: bold;
        color: $color-red;
      }
    }
    
  }
}

@import "./medias";
