@import "./component";
.btn-ersal{
    padding: 0 30px;
    position: fixed;
    top: calc(100vh - 50px);
    left: calc(50% - 25px);
    height: 40px;
    background-color: #FED304;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    }

@import "./medias";