<div class="modal fade" tabindex="-1" id="deleteCategory" aria-labelledby="deleteCategoryLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <form method="POST" action="{% url 'restaurant:delete_recipe_category' %}"
              class="modal-content bg-modal text-white border-white border-1 rounded-3">
            {% csrf_token %}
            <div class="modal-header">
                <span class="modal-title fw-semibold h4">حذف دسته بندی</span>
                <span role="button" class="bi bi-x-lg mt-1 ms-1" data-bs-dismiss="modal" aria-label="Close"
                      style="-webkit-text-stroke: 0.5pt;"></span>
            </div>
            <div class="modal-body">
                <input type="hidden" name="id" id="categoryId" value="None">
                <span style="font-size: 14px;">
                     آیا از حذف
                    <span id="categoryTitle" class="text-warning"></span>
                    اطمینان دارید؟
                </span>
            </div>
            <div class="modal-footer border-top-0">
                <button type="submit" class="btn btn-danger fw-semibold">بله حذف</button>
            </div>
        </form>
    </div>
</div>