{% extends 'base_template.html' %}
{% load static %}
{% load filters %}


{% block title %}مدیرمدرن | {{ object.title }}{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'styles/course-details.css' %}">
    <link rel="stylesheet" href="{% static 'styles/menu.css' %}">
{% endblock %}

{% block content %}
    <!-- Start Sidebar menu -->
    {% include 'includes/menus/side_menu.html' %}
    <!-- .End Sidebar menu -->

    <div class="container-fluid col-md-10 pb-4">
        <main class="main w-100 p-md-2 p-2 mt-2">

            <div class="d-flex flex-lg-nowrap flex-wrap gap-md-3 gap-4 w-100 course">
                <div class="d-flex flex-column col-lg-9 col-12 main-box">
                    <!-- Start Course video -->
                    <div class="d-flex w-100 vid-box" id="courseVideoSection">
                        {% if object.introduction_video_link %}
                            <video id="courseVideo" controls preload="metadata" poster="{{ object.get_thumbnail_url }}" class="w-100 rounded-3">
                                <source src="{{ object.introduction_video_link }}">
                            </video>
                        {% elif object.introduction_image %}
                            <video id="courseVideo" class="w-100 rounded-3 d-none" controls>
                                <source src="">
                            </video>
                            <div class="img-box">
                                <img src="{{ object.get_thumbnail_url }}" alt="{{ object.title }}">
                            </div>
                        {% else %}
                            <video id="courseVideo" class="w-100 rounded-3" controls>
                                <source src="">
                            </video>
                        {% endif %}
                    </div>
                    <!-- .End Course video -->

                    <!-- Start Course short description -->
                    <div class="d-flex flex-column short-des-box">
                        <h4 class="text-white fw-semibold">{{ object.title }}</h4>
                        <p class="text-white mt-2">{{ object.short_des }}</p>
                        <div class="d-flex justify-content-between flex-wrap gap-2 mt-4">
                            <div class="d-flex align-items-center gap-1 text-white">
                                <span>قیمت دوره: </span>
                                {% if object.payment_type == 'free' %}
                                    <span>رایگان</span>
                                {% elif object.discount %}
                                    <small class="convert-digits mt-1"><s>{{ object.price|convert_rial|intcomma }}</s></small>
                                    <span class="text-danger fs-5 mt-1 convert-digits">{{ object.selling_price|convert_rial|intcomma }}</span>
                                    <small class="mt-1">تومان</small>
                                {% else %}
                                    <span class="convert-digits fs-5 mt-1">{{ object.price|convert_rial|intcomma }}</span>
                                    <small class="mt-1">تومان</small>
                                {% endif %}
                            </div>

                            {% if has_course %}
                                <div class="d-flex">
                                    <a href="#courseEpisodes" class="btn btn-primary fw-semibold px-md-5">مشاهده دوره</a>
                                </div>
                            {% else %}
                                <form method="POST" action="{% url 'course:purchase_course' %}" class="d-flex">
                                    {% csrf_token %}
                                    <input type="hidden" name="pk" value="{{ object.pk }}">
                                    <button type="submit" class="btn btn-success fw-semibold px-md-5">خرید دوره</button>
                                </form>
                            {% endif %}
                        </div>
                    </div>
                    <!-- .End Course short description -->

                    <!-- Start Course description -->
                    <div class="d-flex flex-column des-box">
                        <p class="text-white">{{ object.description|safe }}</p>
                    </div>
                    <!-- .End Course description -->
                </div>

                <!-- Start Course info -->
                <div class="mt-md-0 px-2 info-box">
                    <div class="d-flex align-items-center gap-3">
                        <div class="d-flex flex-column w-50 align-items-center text-center bg-light py-4 rounded-3">
                            <i class="bi bi-clock i-stroke" style="font-size: 30px;"></i>
                            <small>مدت دوره:</small>
                            <span>{{ object.duration }}</span>
                        </div>
                        <div class="d-flex flex-column w-50 align-items-center text-center bg-light py-4 rounded-3">
                            <i class="bi bi-mortarboard i-stroke" style="font-size: 32px;"></i>
                            <small>نوع دوره:</small>
                            <span>{{ object.get_type_label }}</span>
                        </div>
                    </div>
                    <div class="d-flex align-items-center gap-3">
                        <div class="d-flex flex-column w-50 align-items-center text-center bg-light py-4 rounded-3">
                            <i class="bi bi-person-video3 i-stroke" style="font-size: 32px;"></i>
                            <small>مدرس دوره:</small>
                            <a href="#" class="text-hover">{{ object.instructor }}</a>
                        </div>
                        <div class="d-flex flex-column w-50 align-items-center text-center bg-light py-4 rounded-3">
                            <i class="bi bi-calendar-event i-stroke" style="font-size: 30px;"></i>
                            <small>تاریخ شروع:</small>
                            <span class="datetime-convert">{{ object.get_created_date }}</span>
                        </div>
                    </div>
                    <div class="d-flex align-items-center gap-3">
                        <div class="d-flex flex-column w-50 align-items-center text-center bg-light py-4 rounded-3">
                            <i class="bi bi-people i-stroke" style="font-size: 32px;"></i>
                            <small>دانشجویان آنلاین:</small>
                            {% if object.payment_type == 'free' %}
                                <span>-</span>
                            {% else %}
                                <span class="convert-digits">{{ object.user_courses.all.count }} نفر</span>
                            {% endif %}
                        </div>
                        <div class="d-flex flex-column w-50 align-items-center text-center bg-light py-4 rounded-3">
                            <i class="bi bi-stack i-stroke" style="font-size: 32px;"></i>
                            <small>تعداد جلسات:</small>
                            <span class="convert-digits">{{ object.get_episode_count }}</span>
                        </div>
                    </div>
                </div>
                <!-- .End Course info -->
            </div>

            <!-- Start course episodes section -->
            {% if has_course %}
                <div class="d-flex flex-column col-lg-9 col-12 mt-lg-5 mt-4 pe-1" id="courseEpisodes">
                    <h5 class="text-white fw-semibold">سر فصل های دوره</h5>
                    <div class="d-flex flex-column gap-2">
                        {% for session in object.get_sessions %}
                            <div>
                                <a href="#session{{ session.id }}" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="session{{ session.id }}"
                                        class="d-flex justify-content-between w-100 btn btn-secondary btn-collapse px-3 pt-3 pb-2 mt-1">
                                    <span class="fw-semibold h5">{{ session.title }}</span>
                                    <i class="bi bi-chevron-left mt-1 i-stroke"></i>
                                </a>
                                <div class="d-flex flex-column w-100 px-1">
                                    <div id="session{{ session.id }}" class="collapse">
                                        <div class="card-body d-flex flex-column gap-1 w-100 rounded-1 mt-1">
                                            {% for episode in session.get_episodes %}
                                                <div class="d-flex justify-content-between bg-light rounded-1 w-100 px-3 py-2 course-episode">
                                                    <span class="mt-1">{{ episode.title }}</span>
                                                    <div class="d-flex gap-1">
                                                        {% if episode.is_video %}
                                                            <button type="button" data-url="{{ episode.file_url }}" onclick="setVidUrl(this)"
                                                                    class="btn btn-sm btn-success">مشاهده
                                                            </button>
                                                        {% else %}
                                                            <a href="{{ episode.file_url }}" download class="bi bi-download btn btn-sm btn-primary"></a>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% else %}
                <div class="d-flex flex-column col-lg-9 col-12 mt-lg-5 mt-4 pe-1" id="courseEpisodes">
                    <h5 class="text-white fw-semibold">سر فصل های دوره</h5>
                    <div class="d-flex flex-column gap-2">
                        {% for session in object.get_sessions %}
                            <div>
                                <a href="#session{{ session.id }}" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="session{{ session.id }}"
                                        class="d-flex justify-content-between w-100 btn btn-secondary btn-collapse px-3 pt-3 pb-2 mt-1">
                                    <span class="fw-semibold h5">{{ session.title }}</span>
                                    <i class="bi bi-chevron-left mt-1 i-stroke"></i>
                                </a>
                                <div class="d-flex flex-column w-100 px-1">
                                    <div id="session{{ session.id }}" class="collapse">
                                        <div class="card-body d-flex flex-column gap-1 w-100 rounded-1 mt-1">
                                            {% for episode in session.get_episodes %}
                                                <div class="d-flex justify-content-between bg-light rounded-1 w-100 px-3 py-2 course-episode">
                                                    <span class="mt-1">{{ episode.title }}</span>
                                                    <a href="#" class="bi bi-person-lock bg-danger rounded-2 i-collab"></a>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
            <!-- .End course episodes section -->

            <div class="d-flex flex-column col-lg-9 col-12 mt-lg-5 mt-4 pe-1">
                <h5 class="text-white fw-semibold">سوالات متداول</h5>
                <div class="d-flex flex-column gap-2">
                    {% for faq in object.get_faqs %}
                        <div>
                            <a href="#faqCollapse{{ faq.id }}" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="faqCollapse{{ faq.id }}"
                                    class="d-flex justify-content-between w-100 btn btn-secondary btn-collapse px-3 pt-3 pb-2 mt-1">
                                <span class="fw-semibold h5">{{ faq.question }}</span>
                                <i class="bi bi-chevron-left mt-1 i-stroke"></i>
                            </a>
                            <div class="d-flex flex-column w-100 px-1">
                                <div id="faqCollapse{{ faq.id }}" class="collapse">
                                    <div class="card-body d-flex flex-column gap-1 w-100 rounded-1 mt-1">
                                        <p class="py-1 text-white">
                                            {{ faq.answer }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>

        </main>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/menu.js' %}"></script>
    <script src="{% static 'js/course.js' %}"></script>
{% endblock %}