{% extends 'base_template.html' %}
{% load static %}
{% load filters %}


{% block title %}مدیرمدرن | دوره‌های من{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'styles/course.css' %}">
    <link rel="stylesheet" href="{% static 'styles/menu.css' %}">
{% endblock %}

{% block content %}
    <!-- Start Sidebar menu -->
    {% include 'includes/menus/side_menu.html' %}
    <!-- .End Sidebar menu -->

    <div class="container-fluid col-md-10 pb-4">
        <main class="main w-100 p-md-4 p-2">
            <h5 class="fw-semibold text-white text-md-end text-center mt-3">دوره های آموزشی خریداری شده</h5>

            <div class="d-flex justify-content-lg-start justify-content-center flex-wrap gap-3 mt-md-5 mt-4">
                {% for obj in object_list %}
                    <div class="package-box">
                        <div class="w-100 bg-dark d-flex flex-column p-5 package-pic">
                            {% if obj.cover_image %}
                                <img src="{{ obj.cover_image }}" alt="ModireModern logo">
                            {% else %}
                                <img src="{% static 'images/logo-white.png' %}" alt="ModireModern logo">
                            {% endif %}
                        </div>
                        <div class="d-flex flex-column gap-1 text-dark px-2 py-1">
                            <a href="{{ obj.get_absolute_url }}" class="fw-semibold h5 mt-1 package-title">{{ obj.title }}</a>
                            <small>{{ obj.short_des|truncatechars:150 }}</small>
                        </div>
                        <div class="w-100 p-2 mt-auto">
                            <div class="d-flex gap-1 mb-3">
                                <span>قیمت:</span>
                                <div class="d-flex gap-1 align-items-center">
                                    {% if not obj.selling_price %}
                                        <span class="text-success fw-semibold">رایگان</span>
                                    {% elif obj.discount %}
                                        <s class="small convert-digits">{{ obj.price|convert_rial|intcomma }}</s>
                                        <span class="fw-semibold convert-digits text-danger">
                                            {{ obj.selling_price|convert_rial|intcomma }}
                                        </span>
                                        <small>تومان</small>
                                    {% else %}
                                        <span class="fw-semibold convert-digits">
                                            {{ obj.selling_price|convert_rial|intcomma }}
                                        </span>
                                        <small>تومان</small>
                                    {% endif %}
                                </div>
                            </div>
                            <a href="{{ obj.get_absolute_url }}" class="btn btn-danger w-100 fw-semibold">مشاهده دوره</a>
                        </div>
                    </div>
                {% empty %}
                    <div class="w-100 d-flex justify-content-center">
                        <span class="fw-bold text-danger h4">دوره ای یافت نشد</span>
                    </div>
                {% endfor %}

            </div>
        </main>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/menu.js' %}"></script>
{% endblock %}