<div class="modal fade" tabindex="-1" id="editPassModal" aria-labelledby="editPassModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <form method="POST" action="{% url 'account:edit_password' %}" class="modal-content text-white border-white border-1 rounded-3"
              style="background-color: #2d2c2c;">
            {% csrf_token %}
            <div class="modal-header">
                <h5 class="modal-title fw-semibold h4">تغییر رمز عبور</h5>
                <i role="button" class="bi bi-x-lg" data-bs-dismiss="modal" aria-label="Close" style="-webkit-text-stroke: 0.6pt;"></i>
            </div>
            <div class="modal-body">
                <div class="d-flex flex-column form-group">
                    <label class="form-label" style="font-size: 16px;">
                        رمز عبور فعلی
                        <input type="password" name="password1" class="form form-control mt-1"
                               style="background-color: #fafafa;" required>
                    </label>
                    <label class="form-label" style="font-size: 16px;">
                        رمز عبور جدید
                        <input type="password" name="password2" class="form form-control mt-1" minlength="4"
                               style="background-color: #fafafa;" required>
                    </label>
                </div>
                <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-success fw-semibold px-3 mt-2">ذخیره</button>
                </div>
            </div>
        </form>
    </div>
</div>
