{% load static %}

<nav class="menu-fixed-right menu overflow-auto">
    <div class="menu-toggle-btn menu">
        <i role="button" class="bi bi-list menu-toggle-icon"></i>
    </div>

    <div class="inner-menu-fixed-right">
        <div class="up-menu">
            <div class="profile">
                <img src="{{ user.profile.get_image_url }}" class="rounded-circle mt-3 me-3" width="75" height="75"
                     alt="Profile picture" style="object-fit: cover;">
                <div class="d-flex flex-column align-items-start mt-3 me-2">
                    <span class="mt-2">
                        {{ user.profile.name|default:'بدون عنوان' }}
                    </span>
                    <small class="mt-1">
                        {{ user.profile.province|default:'' }}، {{ user.profile.city|default:'' }}
                    </small>
                </div>
            </div>
        </div>
        <div class="content-menu mt-2">
            <ul class="list">
                <li class="item-menu">
                    <a href="{% url 'public:index' %}"
                       class="{% if request.resolver_match.url_name == 'index' %}active{% endif %}">
                        <span class="d-flex align-items-center" style="margin-right: 12px;">
                            <i class="bi bi-house mt-2" style="font-size: 25px;"></i>
                        </span>
                        <span class="fw-semibold">خانه</span>
                    </a>
                </li>
                <li class="item-menu">
                    <a href="{% url 'account:profile_details' %}"
                       class="{% if request.resolver_match.url_name == 'profile_details' %}active{% endif %}">
                        <span class="d-flex align-items-center" style="margin-right: 12px;">
                            <i class="bi bi-person-badge mt-2" style="font-size: 25px;"></i>
                        </span>
                        <span class="fw-semibold">پروفایل</span>
                    </a>
                </li>
                <li class="item-menu">
                    <a href="{% url 'ticket:ticket_list' %}"
                       class="{% if request.resolver_match.app_name == 'ticket' %}active{% endif %}">
                        <span class="d-flex align-items-center" style="margin-right: 12px;">
                            <i class="bi bi-ticket-detailed mt-2" style="font-size: 24px;"></i>
                        </span>
                        <span class="fw-semibold me-1">تیکت‌ ها</span>
                    </a>
                </li>
                <li class="item-menu">
                    <a href="{% url 'course:course_list' %}"
                       class="{% if request.resolver_match.app_name == 'course' %}active{% endif %}">
                        <span class="d-flex align-items-center" style="margin-right: 12px;">
                            <i class="bi bi-mortarboard mt-2" style="font-size: 23px;"></i>
                        </span>
                        <span class="fw-semibold">آموزش ها</span>
                    </a>
                </li>
                <li class="item-menu">
                    <a href="{% url 'subscription:subscription_list' %}"
                       class="{% if request.resolver_match.app_name == 'subscription' %}active{% endif %}">
                        <span class="d-flex align-items-center" style="margin-right: 13px;">
                            <i class="bi bi-patch-check mt-2" style="font-size: 23px;"></i>
                        </span>
                        <span class="fw-semibold">تهیه اشتراک</span>
                    </a>
                </li>
                <li class="item-menu">
                    <a data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                        <span class="d-flex align-items-center" style="margin-right: 12px;">
                            <i class="bi bi-cup-hot mt-2" style="font-size: 24px;"></i>
                        </span>
                        <span class="fw-semibold me-1">رستوران من</span>
                    </a>
                    <div class="collapse" id="collapseExample">
                        <ul class="menu-sub-item pe-3">
                            <li class="item-menu">
                                <a href="#">
                                    <span class="d-flex align-items-center" style="margin-right: 12px;">
                                        <i class="bi bi-box2 mt-2" style="font-size: 19px;"></i>
                                    </span>
                                    <span class="fw-semibold me-1">مواد اولیه</span>
                                </a>
                            </li>
                            <li class="item-menu">
                                <a href="#">
                                    <span class="d-flex align-items-center" style="margin-right: 12px;">
                                        <i class="bi bi-receipt mt-2" style="font-size: 19px;"></i>
                                    </span>
                                    <span class="fw-semibold me-1">رسپی غذاها</span>
                                </a>
                            </li>
                            <li class="item-menu">
                                <a href="#">
                                    <span class="d-flex align-items-center" style="margin-right: 12px;">
                                        <i class="bi bi-bag-check mt-2" style="font-size: 19px;"></i>
                                    </span>
                                    <span class="fw-semibold me-1 mt-1">آماده سازی‌ها</span>
                                </a>
                            </li>
                            <li class="item-menu">
                                <a href="#">
                                    <span class="d-flex align-items-center" style="margin-right: 12px;">
                                        <i class="bi bi-journal-richtext mt-2" style="font-size: 20px;"></i>
                                    </span>
                                    <span class="fw-semibold me-1">مهندسی منو</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                {#                <li class="item-menu">#}
                {#                    <a href="#">#}
                {#                        <span class="d-flex align-items-center" style="margin-right: 12px;">#}
                {#                            <i class="bi bi-box-seam mt-2" style="font-size: 24px;"></i>#}
                {#                        </span>#}
                {#                        <span class="fw-semibold me-1">مواد اولیه</span>#}
                {#                    </a>#}
                {#                </li>#}
                {#                <li class="item-menu">#}
                {#                    <a href="#">#}
                {#                        <span class="d-flex align-items-center" style="margin-right: 12px;">#}
                {#                            <i class="bi bi-ui-checks-grid mt-2" style="font-size: 24px;"></i>#}
                {#                        </span>#}
                {#                        <span class="fw-semibold">رسپی غذاها</span>#}
                {#                    </a>#}
                {#                </li>#}
                {#                <li class="item-menu">#}
                {#                    <a href="#">#}
                {#                        <span class="d-flex align-items-center" style="margin-right: 10px;">#}
                {#                            <i class="bi bi-clipboard-check mt-2" style="font-size: 25px;"></i>#}
                {#                        </span>#}
                {#                        <span class="fw-semibold me-1">آماده سازی ها</span>#}
                {#                    </a>#}
                {#                </li>#}
                {#                <li class="item-menu">#}
                {#                    <a href="#">#}
                {#                        <span class="d-flex align-items-center" style="margin-right: 10px;">#}
                {#                            <i class="bi bi-card-list mt-2" style="font-size: 25px;"></i>#}
                {#                        </span>#}
                {#                        <span class="fw-semibold">فرم مهندسی منو</span>#}
                {#                    </a>#}
                {#                </li>#}
                <li class="item-menu">
                    <a href="{% url 'account:logout' %}">
                        <span class="d-flex align-items-center" style="margin-right: 10px;">
                            <i class="bi bi-door-open mt-2" style="font-size: 25px;"></i>
                        </span>
                        <span class="fw-semibold">خروج</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
