{% extends 'base_template.html' %}
{% load static %}
{% load filters %}


{% block title %}مدیرمدرن | مواد اولیه{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'styles/raw-materials.css' %}">
    <link rel="stylesheet" href="{% static 'styles/menu.css' %}">
{% endblock %}

{% block content %}
    <!-- Start Sidebar menu -->
    {% include 'includes/menus/side_menu.html' %}
    <!-- .End Sidebar menu -->

    <!-- Start add category modal -->
    {% include 'restaurant/components/raw_material/add_category.html' %}
    <!-- .End add category modal -->

    <!-- Start delete category modal -->
    {% include 'restaurant/components/raw_material/delete_category.html' %}
    <!-- .End delete category modal -->

    <!-- Start add raw material modal -->
    {% include 'restaurant/components/raw_material/add_materials.html' %}
    <!-- .End add raw material modal -->

    <!-- Start edit raw material modal -->
    {% include 'restaurant/components/raw_material/edit_material.html' %}
    <!-- .End edit raw material modal -->

        <!-- Start delete raw material modal -->
    {% include 'restaurant/components/raw_material/delete_material.html' %}
    <!-- .End delete raw material modal -->

    <div class="container-fluid col-md-10 pb-4">
        <main class="main w-100 p-md-4 p-2">
            <h5 class="fw-semibold text-white text-md-end text-center mt-3">لیست مواد اولیه</h5>

            <!-- Start categories filter section -->
            <div class="swiper category-slider mt-md-3 mt-4">
                <div class="d-flex align-items-center gap-2 category-text">
                    <small class="text-white">دسته‌ها: </small>
                    <button type="button" data-bs-toggle="modal" data-bs-target="#addCategory" class="btn btn-light category-add-btn">
                        <span class="btn-icon">+</span>
                    </button>
                </div>
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a href="{% url 'restaurant:raw_materials' %}" class="btn category-btn
                            {% if not request.GET.filter %}btn-warning{% else %}btn-outline-warning{% endif %}">
                            همه
                        </a>
                    </div>
                    {% for obj in restaurant.get_material_categories %}
                        <div class="swiper-slide">
                            <a href="?filter={{ obj.title }}" class="btn category-btn
                                {% if request.GET.filter == obj.title %}btn-warning{% else %}btn-outline-warning{% endif %}">
                                {{ obj.title }}
                            </a>
                        </div>
                    {% endfor %}
                </div>
                <div class="swiper-button-next"></div>
            </div>
            <!-- .End categories filter section -->

            <!-- Start materials table -->
            <div class="d-flex justify-content-between flex-wrap gap-2 mt-5 px-1">
                <div>
                    {% if request.GET.filter %}
                        <button type="button" data-bs-toggle="modal" data-bs-target="#deleteCategory" data-title="{{ request.GET.filter }}"
                                class="btn btn-sm btn-danger fw-semibold">
                            حذف دسته بندی
                        </button>
                    {% endif %}
                    <button type="button" data-bs-toggle="modal" data-bs-target="#addRawMaterial" class="btn btn-sm btn-light fw-semibold">
                        افزودن مواد
                    </button>
                </div>
                <div></div>
            </div>
            <div class="table-responsive px-1 mt-2">
                <table class="table table-hover overflow-hidden rounded-1">
                    <thead class="text-center">
                        <tr class="bg-head">
                            <th>#</th>
                            <th>عنوان</th>
                            <th class="text-nowrap">
                                <span>قیمت</span>
                                <small>(به ازای هر واحد)</small>
                            </th>
                            <th>کنترل</th>
                            <th>عملیات</th>
                        </tr>
                    </thead>
                    <tbody class="text-center table-light">
                        {% for obj in page_obj %}
                            <tr id="material-{{ obj.id }}">
                               <td>
                                   <span class="convert-digits fw-semibold">{{ forloop.counter }}</span>
                               </td>
                               <td>
                                   <span class="text-nowrap obj-title">
                                       {{ obj.title }}
                                       <small class="text-secondary">{{ obj.get_use_for }}</small>
                                   </span>
                               </td>
                               <td>
                                   <div class="text-nowrap">
                                       <span class="convert-digits">{{ obj.raw_usable_quantity_cost|intcomma }}</span>
                                       <small>ت</small>
                                   </div>
                               </td>
                               <td>
                                   <a href="{{ obj.get_reduce_form_url }}" class="btn btn-sm btn-outline-secondary text-nowrap" title="فرم افت محصول">
                                       فرم افت
                                   </a>
                               </td>
                               <td>
                                   <div class="d-flex justify-content-center gap-1">
                                       <button type="button" data-bs-toggle="modal" data-bs-target="#editMaterial"
                                               data-pk="{{ obj.pk }}" data-category="{{ obj.category.id }}"
                                               data-price="{{ obj.price }}" data-title="{{ obj.title }}" data-use="{{ obj.use_for }}"
                                               class="bi bi-pencil btn btn-sm btn-success ed-btn" title="ویرایش">
                                       </button>
                                       <button type="button" data-bs-toggle="modal" data-bs-target="#deleteMaterial"
                                               data-pk="{{ obj.pk }}" data-title="{{ obj.title }}"
                                               class="bi bi-trash3-fill btn btn-sm btn-danger ed-btn" title="حذف">
                                       </button>
                                   </div>
                               </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <!-- Start pagination section -->
                <div class="d-flex justify-content-center align-items-center text-white mt-5">
                    {% if page_obj.has_other_pages %}
                        <ul class="d-flex align-items-end gap-2 pagination-inner">
                            {% if page_obj.has_previous %}
                                <li>
                                    <a href="?page={{ page_obj.previous_page_number }}{% if request.GET.filter %}&filter={{ request.GET.filter }}{% endif %}">
                                        <i class="bi bi-chevron-right page-next-btn"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="?page={{ page_obj.previous_page_number }}{% if request.GET.filter %}&filter={{ request.GET.filter }}{% endif %}" class="page-num">
                                        <span class="fw-semibold">{{ page_obj.previous_page_number }}</span>
                                    </a>
                                </li>
                            {% endif %}
                            <li>
                                <a class="page-num active">
                                    <span class="fw-semibold">{{ page_obj.number }}</span>
                                </a>
                            </li>
                            {% if page_obj.has_next %}
                                <li>
                                    <a href="?page={{ page_obj.next_page_number }}{% if request.GET.filter %}&filter={{ request.GET.filter }}{% endif %}" class="page-num">
                                        <span class="fw-semibold">{{ page_obj.next_page_number }}</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="?page={{ page_obj.next_page_number }}{% if request.GET.filter %}&filter={{ request.GET.filter }}{% endif %}">
                                        <i class="bi bi-chevron-left page-next-btn"></i>
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    {% endif %}
                </div>
                <!-- .End pagination section -->

            </div>
        </main>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/menu.js' %}"></script>
    <script src="{% static 'js/raw-materials.js' %}"></script>
{% endblock %}