{% extends 'base_template.html' %}
{% load static %}


{% block title %}مدیرمدرن | پروفایل{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'styles/profile.css' %}">
    <link rel="stylesheet" href="{% static 'styles/menu.css' %}">
{% endblock %}

{% block content %}
    <!-- Start Sidebar menu -->
    {% include 'includes/menus/side_menu.html' %}
    <!-- .End Sidebar menu -->

    <!-- Start Edit password modal -->
    {% include 'account/components/edit_password.html' %}
    <!-- Start Edit password modal -->

    <div class="container-fluid col-md-10 pb-4">
        <main class="main w-100 p-md-4 p-2">
            <h5 class="fw-semibold text-white text-md-end text-center mt-md-0 mt-3">پروفایل</h5>

            <form method="POST" action="{% url 'account:profile_details' %}" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="d-flex justify-content-between flex-wrap mt-md-5 mt-4 profile-main">
                    <div class="d-flex align-items-end gap-2">
                        <div class="rounded-circle profile-picture">
                            <img src="{{ user.profile.get_image_url }}" id="profilePic" width="95" height="95"
                                 alt="Profile picture">
                        </div>
                        <div class="py-2">
                            <label for="profile_pic" class="btn btn-sm fw-semibold btn-light">تغییر تصویر</label>
                            <input type="file" id="profile_pic" name="image" accept="image/png, image/jpeg" hidden="hidden"
                                   onchange="displayImage(event)">
                        </div>
                    </div>
                    <div class="d-flex py-2">
                        <div class="d-flex flex-column justify-content-end ms-1">
                            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#editPassModal">تغییر رمز عبور</button>
                        </div>
                    </div>
                </div>
                <div class="mt-3 d-flex flex-wrap profile-main">
                    <div class="text-white p-2 col-md-6 col-12">
                        <label class="form-label w-100">
                            شماره تلفن:
                            <input type="text" name="phone_number" value="{{ user.phone_number }}" required
                                   class="form-control mt-1">
                        </label>
                    </div>
                    <div class="text-white p-2 col-md-6 col-12">
                        <label class="form-label w-100">
                            نام مجموعه:
                            <input type="text" name="place_name" value="{{ user.profile.place_name|default:'' }}"
                                   class="form-control mt-1">
                        </label>
                    </div>
                    <div class="text-white p-2 col-md-6 col-12">
                        <label class="form-label w-100">
                            استان:
                            <input type="text" name="province" value="{{ user.profile.province|default:'' }}"
                                   class="form-control mt-1">
                        </label>
                    </div>
                    <div class="text-white p-2 col-md-6 col-12">
                        <label class="form-label w-100">
                            شهر:
                            <input type="text" name="city" value="{{ user.profile.city|default:'' }}"
                                   class="form-control mt-1">
                        </label>
                    </div>
                </div>
                <div class="w-100 d-flex justify-content-end p-2 mt-2">
                    <button type="submit" class="btn btn-success">ذخیره تغییرات</button>
                </div>
            </form>

            <!-- Start stats section -->
            <h5 class="fw-semibold text-white text-end me-2 mt-md-4 mt-5">مدیر من</h5>
            <div class="d-flex justify-content-md-start justify-content-center flex-wrap gap-4 mt-3 stats-main">
                <div class="d-flex flex-column flex-grow-1 stats-box stats-box-1">
                    <span>دوره‌های آموزشی من</span>
                    <a href="#" class="text-white mt-2 stats-link">
                        <span>مشاهده همه</span>
                        <i class="bi bi-arrow-left" style="-webkit-text-stroke: 0.4pt;"></i>
                    </a>
                    <div class="stats-info-main stats-num convert-digits">0</div>
                </div>
                <div class="d-flex flex-grow-1 stats-box stats-box-2">
                    <span>اشتراک باقی مانده</span>
                    <div class="stats-info-main stats-info">
                        <span class="convert-digits">{{ user.get_subscription_time }}</span>
                        <span class="me-1">روز</span>
                    </div>
                </div>
                <div class="d-flex flex-column flex-grow-1 stats-box stats-box-3">
                    <span>تیکت‌های ارسال شده</span>
                    <a href="{% url 'ticket:ticket_list' %}" class="text-white mt-2 stats-link">
                        <span>مشاهده همه</span>
                        <i class="bi bi-arrow-left" style="-webkit-text-stroke: 0.4pt;"></i>
                    </a>
                    <div class="stats-info-main stats-num convert-digits">{{ user.get_tickets_count }}</div>
                </div>
            </div>
            <!-- .End stats section -->

        </main>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/menu.js' %}"></script>
    <script>
        // Set user profile picture after select
        function displayImage(event) {
            const fileInput = event.target;
            const file = fileInput.files[0];

            if (file) {
                const reader = new FileReader();
                reader.onload = function (e) {
                    const selectedImage = document.getElementById('profilePic');
                    selectedImage.src = e.target.result;
                };

                reader.readAsDataURL(file);
            }
        }
    </script>
{% endblock %}