<div class="modal fade" tabindex="-1" id="addCategory" aria-labelledby="addCategoryLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <form method="POST" action="{% url 'restaurant:add_material_category' %}" style="background-color: #2d2c2c;"
              class="modal-content text-white border-white border-1 rounded-3">
            {% csrf_token %}
            <div class="modal-header">
                <h5 class="modal-title fw-semibold h4">افزودن دسته بندی</h5>
                <span role="button" class="bi bi-x-lg" data-bs-dismiss="modal" aria-label="Close"
                      style="-webkit-text-stroke: 0.5pt;"></span>
            </div>
            <div class="modal-body">
                <div class="d-flex flex-column form-group">
                    <label class="form-label" style="font-size: 14px;">
                        عنوان دسته
                        <input type="text" name="title" class="form form-control mt-1"
                               style="background-color: #fafafa;" required>
                    </label>
                </div>
            </div>
            <div class="modal-footer border-top-0">
                <button type="submit" class="btn btn-success fw-semibold w-100">ذخیره</button>
            </div>
        </form>
    </div>
</div>