/* ----------------------------- YEKANBAKH ----------------------------- */
@font-face {
  font-family: YEKANBAKH;
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/YEKANBAKH-MEDIUM.eot");
  src: url("../fonts/YEKANBAKH-MEDIUM.eot?#iefix") format("embedded-opentype"), url("../fonts/YEKANBAKH-MEDIUM.woff") format("woff"), url("../fonts/YEKANBAKH-MEDIUM.woff2") format("woff2"), url("../fonts/YEKANBAKH-MEDIUM.TTF") format("truetype");
}
@font-face {
  font-family: YEKANBAKH;
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/YEKANBAKH-REGULAR.eot");
  src: url("../fonts/YEKANBAKH-REGULAR.eot?#iefix") format("embedded-opentype"), url("../fonts/YEKANBAKH-REGULAR.woff") format("woff"), url("../fonts/YEKANBAKH-REGULAR.woff2") format("woff2"), url("../fonts/YEKANBAKH-REGULAR.TTF") format("truetype");
}
@font-face {
  font-family: YEKANBAKH;
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/YEKANBAKH-BOLD.eot");
  src: url("../fonts/YEKANBAKH-BOLD.eot?#iefix") format("embedded-opentype"), url("../fonts/YEKANBAKH-BOLD.woff") format("woff"), url("../fonts/YEKANBAKH-BOLD.woff2") format("woff2"), url("../fonts/YEKANBAKH-BOLD.TTF") format("truetype");
}
@font-face {
  font-family: YEKANBAKH;
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/YEKANBAKH-LIGHT.eot");
  src: url("../fonts/YEKANBAKH-LIGHT.eot?#iefix") format("embedded-opentype"), url("../fonts/YEKANBAKH-LIGHT.woff") format("woff"), url("../fonts/YEKANBAKH-LIGHT.woff2") format("woff2"), url("../fonts/YEKANBAKH-LIGHT.TTF") format("truetype");
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
  font-family: YEKANBAKH, sans-serif;
  font-size: 14px;
  font-weight: 300;
}

body {
  background-color: #343434;
}
body::-webkit-scrollbar {
  height: 15px;
  width: 15px;
  background-color: #c1c1c1;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}
body::-webkit-scrollbar-thumb {
  background: #fff;
  border: 2px solid #c1c1c1;
  width: 10px;
  height: 10px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}
body::-webkit-scrollbar-thumb:hover {
  background: #fefefe;
  border: 2px solid #fff;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  color: inherit;
}

img,
video {
  max-width: 100%;
}

.container-fluid.container-admin {
  margin: 0 auto;
  max-width: 1200px;
}

button {
  border: none;
}

input {
  border: none;
  background-color: transparent;
}

.container-fluid {
  padding: 0 0 0 0;
  margin-left: 3px;
}

.container-fluid .main {
  overflow: auto;
}

/* Course object styles section */
.course {
  position: relative;
}

.course .main-box {
  border-radius: 0.5rem;
}

.course .vid-box {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 0.5rem 0.5rem 0 0;
}

.course .vid-box video {
  max-height: 530px;
}

.course .vid-box .img-box {
  display: flex;
  justify-content: center;
  margin: auto;
}

.course .vid-box .img-box img {
  max-height: 600px;
  border-radius: 0.5rem;
}

.course .short-des-box {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 1rem 0.85rem 1rem 0.85rem;
  border-radius: 0 0 0.5rem 0.5rem;
}

.course .des-box {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 0.5rem 0.5rem;
  padding: 1rem 0.85rem 1rem 0.85rem;
  margin-top: 0.75rem;
  color: whitesmoke;
}

.course .info-box {
  position: fixed;
  left: 10px;
  top: 15px;
  min-width: 20.25%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 0.5rem;
  padding: 0.5rem 0.75rem;
  height: max-content;
}

.btn-collapse i {
  transition: all 0.3s;
}

.btn-collapse:hover > i, .btn-collapse:active > i {
  transform: rotate(-90deg) translate(3px, 2px);
}

.btn-collapse:active > i , .btn-collapse:visited > i {
  transform: rotate(-90deg) translate(3px, 2px);
}

.course-episode {
  transition: all 0.3s ease;
}

.course-episode:hover {
  box-shadow: 0 0 3px 1px rgba(245, 245, 245, 1);
}

.i-stroke {
  -webkit-text-stroke: 0.5pt;
}

.i-collab {
  color: white;
  padding: 6px 7px 0 7px;
  font-size: 16px;
  -webkit-text-stroke: 0.2pt;
}

.text-hover:hover {
  color: #737373;
}

/*---------------START 768PX----------------*/
@media (max-width: 768px) {
}
/*---------------END 768PX----------------*/
@media (max-width: 992px) {
  .course .info-box {
    flex: 0 0 auto;
    width:100%;
    position: static;
  }
}
