/* ----------------------------- YEKANBAKH ----------------------------- */
@font-face {
  font-family: YEKANBAKH;
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/YEKANBAKH-MEDIUM.eot");
  src: url("../fonts/YEKANBAKH-MEDIUM.eot?#iefix") format("embedded-opentype"), url("../fonts/YEKANBAKH-MEDIUM.woff") format("woff"), url("../fonts/YEKANBAKH-MEDIUM.woff2") format("woff2"), url("../fonts/YEKANBAKH-MEDIUM.TTF") format("truetype");
}
@font-face {
  font-family: YEKANBAKH;
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/YEKANBAKH-REGULAR.eot");
  src: url("../fonts/YEKANBAKH-REGULAR.eot?#iefix") format("embedded-opentype"), url("../fonts/YEKANBAKH-REGULAR.woff") format("woff"), url("../fonts/YEKANBAKH-REGULAR.woff2") format("woff2"), url("../fonts/YEKANBAKH-REGULAR.TTF") format("truetype");
}
@font-face {
  font-family: YEKANBAKH;
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/YEKANBAKH-BOLD.eot");
  src: url("../fonts/YEKANBAKH-BOLD.eot?#iefix") format("embedded-opentype"), url("../fonts/YEKANBAKH-BOLD.woff") format("woff"), url("../fonts/YEKANBAKH-BOLD.woff2") format("woff2"), url("../fonts/YEKANBAKH-BOLD.TTF") format("truetype");
}
@font-face {
  font-family: YEKANBAKH;
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/YEKANBAKH-LIGHT.eot");
  src: url("../fonts/YEKANBAKH-LIGHT.eot?#iefix") format("embedded-opentype"), url("../fonts/YEKANBAKH-LIGHT.woff") format("woff"), url("../fonts/YEKANBAKH-LIGHT.woff2") format("woff2"), url("../fonts/YEKANBAKH-LIGHT.TTF") format("truetype");
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
  font-family: YEKANBAKH, sans-serif;
  font-size: 14px;
  font-weight: 300;
}

body {
  background-color: #343434;
  display: flex;
}
body::-webkit-scrollbar {
  height: 15px;
  width: 15px;
  background-color: #c1c1c1;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}
body::-webkit-scrollbar-thumb {
  background: #fff;
  border: 2px solid #c1c1c1;
  width: 10px;
  height: 10px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}
body::-webkit-scrollbar-thumb:hover {
  background: #fefefe;
  border: 2px solid #fff;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  color: inherit;
}

img,
video {
  max-width: 100%;
}

.container-fluid {

}
.container-fluid.container-admin {
  margin: 0 auto;
  max-width: 1200px;
}

button {
  border: none;
}

input {
  border: none;
  background-color: transparent;
}

.top-slider {
  width: 100%;
  height: 32rem;
  padding: 0.25rem 0 0.25rem 0.5rem;
}

.top-slider .swiper-wrapper .swiper-slide {
  object-fit: contain;
  width: 100%;
}

.top-slider .swiper-wrapper .swiper-slide img {
  width: 100%;
  object-fit: contain;
}

.top-slider .swiper-pagination-bullet {
  background-color: #ffbe00;
}

/* Start packages styles */
.package-slider .swiper-button-prev, .swiper-button-next {
  scale: 68%;
  padding-bottom: 40px;
  -webkit-text-stroke: 1.8pt;
}

.package-slider .swiper-button-prev {
  padding-left: 30px;
}

.package-slider .swiper-button-next {
  padding-right: 30px;
}

.package-box {
  min-height: 400px;
  max-height: 410px;
  background-color: #f6f6f6;
  border-radius: 0.6rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 10px;
}

.package-pic {
  border-radius: 0.5rem 0.5rem 0 0;
}

.package-pic .set-pic {
  height: 230px;
  border-radius: 0.5rem 0.5rem 0 0;
}

.package-pic .default-pic {
  min-height: 200px;
  padding: 2.85rem 2rem;
  transition: all 0.3s;
}

.package-pic:hover > .default-pic {
  scale: 105%;
}

.package-tag {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #dc3545;
  color: white;
  padding: 0.3rem 1rem;
  border-radius: 0.5rem 1px 3px 1px;
  z-index: 3;
  font-size: 15px;
}

.package-title:hover {
  color: #0c63e4;
}

/* Static banner styles */
.static-banner {
  width: 100%;
  position: relative;
  background: linear-gradient(76.02deg,#35a6c8 33.32%,#007295 71.55%),radial-gradient(21.29% 87.33% at 50% 50.67%,#7cf2f6 0,#35a6c8 100%);
  border-radius: 0.5rem;
  padding: 2rem;
  transition: all 0.3s;
}
.static-banner:hover {
  box-shadow: 0 0 0 3px rgba(245, 245, 245, 0.4);
}

.static-banner-img {
  transition: all 0.3s;
}
.static-banner:hover > .static-banner-img {
  scale: 106%;
}

.static-banner-text {
  transition: all 0.3s;
}
.static-banner:hover > .static-banner-text {
  scale: 106%;
  text-shadow: 0 0 10px rgba(245, 245, 245, 0.5);
}

.static-banner-logo {
  width: 100px;
  height: 50px;
}

.static-banner .banner-btn {
  padding: 1rem 2rem;
  font-size: 16px;
  font-weight: 600;
}

.btn-collapse i {
  -webkit-text-stroke: 0.6pt;
  transition: all 0.3s;
}

.btn-collapse:hover > i, .btn-collapse:active > i {
  transform: rotate(-90deg) translate(3px, 2px);
}

.mt-cs {
  margin-top: -6px;
}

.p-cs {
  border-radius: 0.25rem;
  padding: 5px 7px 2px 7px;
  margin-left: 1px;
}

.bottom-banner {
  display: none;
  z-index: 1000;
  border-radius: 0 0 0.5rem 0.5rem;
  padding: 1.5rem 1rem;
  opacity: 95%;
}


.container-fluid {
  padding: 0 0 0 0;
  margin-left: 3px;
}

ul {
  padding: 0 !important;
}

/*---------------START 768PX----------------*/
@media (max-width: 768px) {
  .top-slider {
    width: 100%;
    height: auto;
    max-height: 16rem;
  }
  .package-box {
    min-height: 425px;
    gap: 5px;
  }
  .responsive-text {
    font-size: 10px;
  }
  .static-banner {
    padding: 1.35rem;
  }
}
/*---------------END 768PX----------------*/

@media (min-width: 1620px) {
  .top-slider {
    height: 560px;
  }
}