/* ----------------------------- YEKANBAKH ----------------------------- */
@font-face {
  font-family: YEKANBAKH;
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/YEKANBAKH-MEDIUM.eot");
  src: url("../fonts/YEKANBAKH-MEDIUM.eot?#iefix") format("embedded-opentype"), url("../fonts/YEKANBAKH-MEDIUM.woff") format("woff"), url("../fonts/YEKANBAKH-MEDIUM.woff2") format("woff2"), url("../fonts/YEKANBAKH-MEDIUM.TTF") format("truetype");
}
@font-face {
  font-family: YEKANBAKH;
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/YEKANBAKH-REGULAR.eot");
  src: url("../fonts/YEKANBAKH-REGULAR.eot?#iefix") format("embedded-opentype"), url("../fonts/YEKANBAKH-REGULAR.woff") format("woff"), url("../fonts/YEKANBAKH-REGULAR.woff2") format("woff2"), url("../fonts/YEKANBAKH-REGULAR.TTF") format("truetype");
}
@font-face {
  font-family: YEKANBAKH;
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/YEKANBAKH-BOLD.eot");
  src: url("../fonts/YEKANBAKH-BOLD.eot?#iefix") format("embedded-opentype"), url("../fonts/YEKANBAKH-BOLD.woff") format("woff"), url("../fonts/YEKANBAKH-BOLD.woff2") format("woff2"), url("../fonts/YEKANBAKH-BOLD.TTF") format("truetype");
}
@font-face {
  font-family: YEKANBAKH;
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/YEKANBAKH-LIGHT.eot");
  src: url("../fonts/YEKANBAKH-LIGHT.eot?#iefix") format("embedded-opentype"), url("../fonts/YEKANBAKH-LIGHT.woff") format("woff"), url("../fonts/YEKANBAKH-LIGHT.woff2") format("woff2"), url("../fonts/YEKANBAKH-LIGHT.TTF") format("truetype");
}
/*COLOR BODY*/
/*COLOR BODY*/
/* COLOR WHITE*/
/* COLOR WHITE*/
/*START COLOR TEXT*/
/*END COLOR TEXT*/
/*START BG COLORS*/
/*END BG COLORS*/
/*START BORDER COLOR*/
/*END BORDER COLOR*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
  font-family: YEKANBAKH, sans-serif;
  font-size: 14px;
  font-weight: 300;
}

body {
  background-color: #343434;
}
body::-webkit-scrollbar {
  height: 15px;
  width: 15px;
  background-color: #c1c1c1;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}
body::-webkit-scrollbar-thumb {
  background: #fff;
  border: 2px solid #c1c1c1;
  width: 10px;
  height: 10px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}
body::-webkit-scrollbar-thumb:hover {
  background: #fefefe;
  border: 2px solid #fff;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  color: inherit;
}

img,
video {
  max-width: 100%;
}

.container-fluid {
  max-width: 1900px;
}
.container-fluid.container-admin {
  margin: 0 auto;
  max-width: 1200px;
}

button {
  border: none;
}

input {
  border: none;
  background-color: transparent;
}

/*COLOR BODY*/
/*COLOR BODY*/
/* COLOR WHITE*/
/* COLOR WHITE*/
/*START COLOR TEXT*/
/*END COLOR TEXT*/
/*START BG COLORS*/
/*END BG COLORS*/
/*START BORDER COLOR*/
/*END BORDER COLOR*/
/*COLOR BODY*/
/*COLOR BODY*/
/* COLOR WHITE*/
/* COLOR WHITE*/
/*START COLOR TEXT*/
/*END COLOR TEXT*/
/*START BG COLORS*/
/*END BG COLORS*/
/*START BORDER COLOR*/
/*END BORDER COLOR*/
.content {
  padding: 10px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  margin: 20px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  overflow: hidden;
  background-color: rgba(8, 7, 7, 0.1803921569);
  border: 2px solid #5c5757;
}
.content .title-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 2px solid #5c5757;
  color: aliceblue;
  cursor: pointer;
}
.content .title-row div {
  text-align: center;
  font-weight: 700;
  color: white;
}
.content .user-list-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-height: calc(100vh - 200px);
  overflow-y: scroll;
  overflow-x: hidden;
}
.content .user-list-content::-webkit-scrollbar {
  height: 5px;
  width: 5px;
  background-color: transparent;
}
.content .user-list-content::-webkit-scrollbar-track {
  background-color: transparent;
}
.content .user-list-content::-webkit-scrollbar-thumb {
  background: #ebebeb;
  width: 10px;
  height: 10px;
}
.content .user-list-content::-webkit-scrollbar-thumb:hover {
  background: #fefefe;
}
.content .user-list-content .item-buy-product .condition-1 {
  color: #FED304;
  font-weight: 700;
  font-size: 14px;
}
.content .user-list-content .item-buy-product .condition-1 span {
  font-size: 12px;
  font-weight: 300;
  color: white;
}

.container-fluid {
  padding: 0 0 0 0;
  margin-left: 0;
}

.bg {
  background-image: url("../images/main-backgrond.png");
  background-repeat: repeat-y;
  background-size: cover;
  background-position: right;
}

.story-category {
  padding: 20px 30px;
}
.instruction {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}
.instruction video {
  border-radius: 15px;
}
.instruction .instruction-des {
  color: rgb(255, 255, 255);
  padding: 20px;
}
.instruction .instruction-des .title-instruction-des {
  font-weight: lighter;
  margin-bottom: 80px;
  font-size: 2rem;
}
.instruction .instruction-des p {
  font-weight: bold;
  line-height: 1.3rem;
  text-align: justify;
}

.header-admin {
  margin: 0 20px;
  background-color: rgba(2, 1, 1, 0.101);
  padding: 20px 20px;
  position: relative;
}
.header-admin .title {
  color: aliceblue;
}
.header-admin .title span {
  font-size: 15px;
  color: #b1b1b1;
}
.header-admin .back {
  position: absolute;
  top: 25px;
  left: 10px;
}

.header-m-oprator {
  padding: 10px 20px;
}
.header-m-oprator img {
  width: 25px;
}

.btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px 30px;
}
.btns .btn-change {
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  padding: 20px 0;
  cursor: pointer;
}
.btns .btn-change.active {
  border-bottom: 3px solid #FED304 !important;
  color: #FED304;
  font-size: 14px;
  font-weight: 700;
}

.add-food-item {
  color: #f8f8f8;
  display: flex;
  justify-content: center;
  cursor: pointer;
  padding-bottom: 50px;
  width: 100%;
  height: 60px;
  padding: 0 20px;
  z-index: 100;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
.add-food-item:hover {
  color: darkgoldenrod;
}

.item-user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  margin: 5px 0;
}
.item-user div {
  text-align: center;
  font-size: 12px;
  color: white;
  font-weight: 300;
}
.item-user .condition.error {
  color: #dd062a;
  font-weight: 700;
}

.search-box {
  margin: 10px 20px;
  border: 1px solid #ebebeb;
  padding: 8px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.search-box img {
  width: 15px;
}
.search-box input {
  color: #b1b1b1;
  padding: 0 10px;
  display: flex;
  flex-grow: 1;
}
.search-box input:focus {
  outline: none;
}
.search-box input::placeholder {
  color: #b1b1b1;
  font-weight: 300;
}

.header-m-oprator {
  margin: 0 20px;
  background-color: transparent;
  padding: 20px 0 0 0;
  position: relative;
}
.header-m-oprator img {
  width: 100%;
}
.header-m-oprator .title {
  color: white;
}
.header-m-oprator .title span {
  font-size: 10px;
  color: white;
}
.header-m-oprator .back {
  position: absolute;
  top: 16px;
  left: 10px;
  cursor: pointer;
  padding: 10px 20px;
}
.header-m-oprator .The-dividing-line {
  width: 100%;
  height: 1px;
  margin: 10px 0px;
  background: rgb(255, 255, 255);
  background: radial-gradient(circle, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 4%, rgb(210, 210, 210) 57%, rgb(47, 44, 44) 100%);
}

.content-inputs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  padding: 15px 0;
}
.content-inputs::before {
  content: "";
  content: "";
  display: block;
  width: 70%;
  height: 1px;
  background-color: #b1b1b1;
  position: absolute;
  top: 100%;
  left: 10%;
}
.content-inputs #brand-mobile {
  width: 100%;
  background-color: rgba(181, 168, 168, 0.2705882353);
  color: white;
  padding: 11px 8px;
  border-radius: 5px;
  margin: 10px 0;
  cursor: pointer;
}
.content-inputs #brand-mobile:focus {
  outline: none;
}
.content-inputs #brand-mobile:focus::placeholder {
  font-weight: 900;
}
.content-inputs .form-group {
  display: flex;
  align-items: center;
  margin: 10px 0;
  position: relative;
  padding: 10px 10px;
  border: 1px solid rgb(124, 121, 121);
  background-color: rgba(177, 177, 177, 0.2117647059);
  border-radius: 5px;
}

.title-gg {
  background-color: rgba(17, 15, 15, 0.5333333333);
  padding: 20px 10px;
  text-align: center;
  color: #f8f8f8;
}

ul {
  padding: 0px !important;
}

.main-admin {
  padding-bottom: 65px;
}

.btn-add {
  margin: 0 20px;
  background-color: transparent;
  position: relative;
}
.btn-add img {
  width: 100%;
}
.btn-add .title-add {
  color: white;
  display: flex;
  justify-content: start;
}
.btn-add .title-add span {
  font-size: 10px;
  color: white;
}
.btn-add .title-add .icon-upload {
  margin-left: 10px;
}
.btn-add .img-add {
  position: absolute;
  top: 0px;
  left: 10px;
}

.container-form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-form .right-banner {
  display: flex;
  justify-content: center;
  background-color: #989898;
  height: 100vh;
}
.container-form .right-banner img {
  max-width: 450px;
}

.form-content {
  display: flex;
  flex-wrap: wrap;
}
.form-content .right-form {
  height: 25vh;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.form-content .left-form {
  position: relative;
}
.form-content .left-form .forms-content {
  background-color: rgba(30, 29, 29, 0.864);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.form-content .left-form .forms-content .btn-form-mpbile {
  width: 100%;
  z-index: 100;
  background-color: #d8aa12;
  position: absolute;
  bottom: 0;
  left: 0;
}
.form-content .left-form .forms-content .btn-form-mpbile .btnss {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 0px;
}
.form-content .left-form .forms-content .btn-form-mpbile .btnss .btnn-change {
  border-bottom-left-radius: 15px;
  background-color: #d8aa12;
  color: #fff;
}
.form-content .left-form .forms-content .btn-form-mpbile .btnss .btnn-change.active {
  color: rgba(27, 19, 19, 0.832);
  font-size: 14px;
  font-weight: 300;
  cursor: pointer;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #32312F;
  color: #fff;
  padding: 9px;
}

.contenttt {
  animation: fade-in 1s ease-in;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contenttt.active {
  display: flex;
}
.contenttt .logo-content-form {
  max-width: 170px;
  padding: 15px 10px;
  text-align: center;
  display: flex;
  justify-content: center;
}
.contenttt .title-content-form {
  text-align: center;
  color: rgb(140, 140, 133);
}
.contenttt .forms {
  display: flex;
  justify-content: center;
  align-items: center;
  direction: ltr;
  padding: 10px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  max-width: 500px;
  margin: 0 auto;
  background-color: transparent;
}
.contenttt .forms .form {
  width: 100%;
}
.contenttt .forms .form.form-disposable-code, .contenttt .forms .form.form-confirm-code {
  display: none;
}
.contenttt .forms .form.form-disposable-code.active, .contenttt .forms .form.form-confirm-code.active {
  display: block;
}
.contenttt .forms .form .title {
  text-align: right;
  color: #fefefe;
}
.contenttt .forms .form .group-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: transparent;
  padding: 10px 5px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  margin: 10px 0;
  border: 1px solid #fefefe;
  position: relative;
}
.contenttt .forms .form .group-form label {
  color: #fefefe;
  font-weight: 300;
  font-size: 12px;
  transition: all 800ms;
  -webkit-transition: all 800ms;
  -moz-transition: all 800ms;
  -ms-transition: all 800ms;
  -o-transition: all 800ms;
  padding: 0 10px;
}
.contenttt .forms .form .group-form input {
  display: flex;
  flex-grow: 1;
  padding: 0 5px;
  font-weight: 300;
  font-size: 12px;
  color: #fefefe;
  outline: none;
}
.contenttt .forms .form .group-form input label {
  color: #dd062a;
  font-weight: bold;
  position: absolute;
  top: -10px;
  right: 25px;
  background-color: #2b2a29;
  padding: 0 10px;
}
.contenttt .forms .form .group-form.success {
  border: 1px solid #7dce85;
}
.contenttt .forms .form .group-form.success input {
  color: #7dce85;
}
.contenttt .forms .form .group-form.success input:focus ~ label {
  color: #7dce85;
}
.contenttt .forms .form .group-form.success label {
  color: #7dce85;
  font-weight: bold;
  position: absolute;
  top: -10px;
  right: 25px;
  background-color: #2b2a29;
  padding: 0 10px;
}
.contenttt .forms .form small {
  display: block;
  text-align: right;
  font-size: 10px;
  font-weight: 300;
  color: #dd062a;
}
.contenttt .forms .form .check label {
  font-size: 12px;
  font-weight: 300;
  color: #b1b1b1;
}
.contenttt .forms .form .check input {
  accent-color: #fefefe;
}
.contenttt .forms .form .form-text-1 {
  color: #fefefe;
  font-weight: 700;
  font-size: 12px;
}
.contenttt .forms .form .form-text-1 a {
  position: relative;
  display: block;
}
.contenttt .forms .form .form-text-1 a::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  top: 102%;
  left: 0;
  background-color: #fefefe;
}
.contenttt .forms .form .form-text-3 {
  color: #fefefe;
  font-weight: 700;
  font-size: 14px;
}
.contenttt .forms .form .form-text-3 a {
  position: relative;
  display: block;
}
.contenttt .forms .form .form-text-3 a::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  top: 102%;
  left: 0;
  background-color: #fefefe;
}
.contenttt .forms .form .form-text-2 span {
  color: #FED304;
  font-weight: 300;
  font-size: 12px;
}
.contenttt .forms .form .form-text-2 a {
  color: #fefefe;
  font-weight: 700;
  font-size: 12px;
  display: inline-block;
  margin: 0 10px;
}
.contenttt .forms .form .timer {
  font-size: 12px;
  font-weight: 300;
}
.contenttt .forms .form .timer .btn-timer {
  background-color: transparent;
  font-size: 12px;
  font-weight: 300;
}
.contenttt .forms .form .timer .btn-timer.active {
  color: #fefefe;
  font-weight: 700;
}
.contenttt .forms .form .btn-submit {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fefefe;
  color: rgb(0, 0, 0);
  font-weight: 300;
  font-size: 12px;
  padding: 10px 0;
  width: 100%;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
  border: 1px solid #fff;
  margin: 0 auto;
  cursor: pointer;
  transition: all 500ms;
  -webkit-transition: all 500ms;
  -moz-transition: all 500ms;
  -ms-transition: all 500ms;
  -o-transition: all 500ms;
}

/*---------------START 768PX----------------*/
@media (max-width: 768px) {
  .print {
    width: 100%;
  }
  .btn-test-ghasabi {
    font-size: 10px;
  }
  .Raw-material-item {
    text-align: center;
  }
  .Raw-material-item input {
    font-size: 10px;
  }
  .description {
    font-size: 12px !important;
  }
  .logo-form {
    display: block !important;
    max-width: 170px;
  }
  .logo-content-form {
    display: none !important;
  }
  .title-content-form {
    display: none !important;
  }
  .forms-content {
    background-color: rgba(30, 29, 29, 0.864);
    height: 75vh !important;
  }
  .form-content .right-form {
    display: flex;
  }
  .form-content-responsive {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 60vh !important;
  }
  .form-content-login {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  .form-content-signup {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  .right-form-responsive {
    height: 40vh !important;
  }
  .main-admin-food {
    padding-bottom: 120px !important;
  }
  .main-admin {
    margin-top: 0;
  }
  .container-form {
    margin: 0;
  }
  .container-form .right-banner {
    display: none;
  }
  .menu-bottom {
    display: flex;
  }
  .menu-fixed-right {
    display: none;
  }
  .instruction {
    flex-direction: column;
  }
  .main {
    padding-bottom: 65px;
  }
  .content-form {
    display: none;
  }
  .content-form-mobile {
    display: block !important;
  }
  .title-instruction-des {
    margin-bottom: 5px !important;
  }
  .message-content-answer {
    font-size: 11px;
  }
  .name-user {
    font-size: 11px;
  }
  .message-content {
    font-size: 11px;
  }
  .btn-bottom {
    display: flex;
    justify-content: center;
  }
  .main-admin {
    padding-bottom: 60px !important;
  }
  .weeks .test {
    font-size: 10px;
  }
  .upload-btnn {
    position: fixed;
    bottom: 60px;
    left: 0;
  }
  .main-admin-addfood {
    padding-bottom: 85px !important;
  }
  .category .input-send-message {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 60px;
    left: 0;
    padding: 0 10px;
  }
}
/*---------------END 768PX----------------*/
@media (max-width: 1071px) {
  .num-dates ul li, .days ul li {
    float: right;
    list-style: none;
    text-align: center;
    margin-left: 11px;
    width: 35px;
    height: 40px;
    font-weight: bold;
  }
  .days ul li {
    font-size: 10px !important;
  }
}

@media (max-height: 500px) {
  .logo-form {
    display: block !important;
    max-width: 140px;
  }
  .title {
    font-size: 13px;
  }
}

/*# sourceMappingURL=login.css.map */
