{% load static %}

<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- FAV ICONS -->
<link rel="icon" href="{% static 'images/fav-icons/32x32-min.jpg' %}" type="img/x-icon" sizes="32x32">
<link rel="icon" href="{% static 'images/fav-icons/192x192-min.jpg' %}" type="img/x-icon" sizes="192x192">
<link rel="apple-touch-icon" href="{% static 'images/fav-icons/180x180-min.jpg' %}" type="img/x-icon">
<!-- PACKAGES -->
<link rel="stylesheet" href="{% static 'vendors/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'vendors/swiper.css' %}">
<link rel="stylesheet" href="{% static 'vendors/sweetalert2-mixin.css' %}">
<link rel="stylesheet" href="{% static 'vendors/persian-datepicker.css' %}">
<link rel="stylesheet" href="{% static 'styles/icons/bootstrap-icons.min.css' %}">